<!DOCTYPE html>
<html>
    <head>
        <title>Poketype | Pokemon GO | Check Pokemon Type Strengths &amp; Weaknesses</title>
        <link href="<%= require("./img/favicon.jpg") %>" rel="icon">
        <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,600,700" rel="stylesheet">
        <meta name="viewport" content="width=device-width">

        <!-- Facebook Open Graph card -->
        <meta name="og:title" content="Poketype | Check Pokemon GO Type Strengths &amp; Weaknesses" />
        <meta name="og:url" content="https://davehax-tools.herokuapp.com/poketype" />
        <meta name="og:type" content="website" />
        <meta name="og:description" content="Check Pokemon GO single or dual type strengths and weaknesses" />
        <meta name="og:image" content="https://i.imgur.com/sEhsNis.jpg" />

        <!-- Twitter Summary Card -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="https://davehax-tools.herokuapp.com/poketype" />
        <meta name="twitter:title" content="Poketype | Check Pokemon GO Type Strengths &amp; Weaknesses" />
        <meta name="twitter:description" content="Check Pokemon GO single or dual type strengths and weaknesses" />
        <meta name="twitter:image" content="https://i.imgur.com/sEhsNis.jpg" />
    </head>
    <body>
        <div class="background">
            <header>
                <h1>Poketype</h1>
                <p>Select one or two types to see their individual or combined strengths and weaknesses.</p>
            </header>

            <div class="poketype"></div>
        </div>
    </body>
</html>